<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Raça</th>
      <th>Gênero</th>
      <th>Castrado</th>
      <th>Data Nasc</th>
      <th>Nome do Dono</th>
      <th>Tel do Dono</th>
      <th>Ultima visita</th
    </tr>
  </thead>
  <tbody>
    <%= search_form_for @search do |f| %>
    <div class="titulo">
      <h1> Listagem simples com filtros basicos</h1>
    </div>
    <hr>
      <div class="form-group">
        <div class="row">
          <div class="col-3">
            <%= f.search_field :name_cont, class: "form-control", placeholder: "Nome" %>
          </div>

          <div class="col-3">
            <%= f.search_field :breed_cont, class: "form-control", placeholder: "Raça" %>
          </div>
          <div class="col-3">
            <%= f.search_field :nameowner_cont, class: "form-control", placeholder: "Nome do Dono" %>
          </div>
          <%= f.submit "Filtrar", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>


    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.name %></td>
        <td><%= animal.breed %></td>
        <td><%= animal.genre %></td>
        <td><%= "#{return_castrated(animal.castrated)}" %></td>
        <td><%= l(animal.birth) %></td>
        <td><%= animal.nameowner %></td>
        <td><%= animal.phoneowner %></td>
        <td><%= l(animal.lastvisit) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= will_paginate @animals, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, previous_label: "Anterior", next_label: "Proximo", inner_window: 3, outer_window: 0%>
