<h1>Listagem Cachorros</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Raça</th>
      <th>Gênero</th>
      <th>Castrado</th>
      <th>Data de Nascimento</th>
      <th>Nome do Dono</th>
      <th>Telefone do Dono</th>
      <th>Ultima visita</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.name %></td>
        <td><%= animal.breed %></td>
        <td><%= animal.genre %></td>
        <td><%= "#{return_castrated(animal.castrated)}" %></td>
        <td><%= l(animal.birth) %></td>
        <td><%= animal.nameowner %></td>
        <td><%= animal.phoneowner %></td>
        <td><%= l(animal.lastvisit) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
